<br/>
 <h2 class="text-center">Dashboard</h2>
<span class="pull-left">
    <%= form_tag charges_path do %>
      <article class="text-center">
        <label class="amount">
          <% current_user.credits.each do |credit| %>
            <p class="color">My credit:<%= credit.value%></p>
            <% end %>
          <span>Add $1.00</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="A month's subscription"
              data-amount="100">
      </script>
    <% end %>
    </span>
<div class="dash text-center">
 
</div>