<p class = "h2 text-center">My API Token:</p>
<p class = "h4 text-center"><%= current_user.authentication_token %></p>
<p class = "h3 text-center">Enter Request with (dont share the link):</p>
<p class = "h5 text-center">/api/v1/people.json?auth_token=<%= current_user.authentication_token %>&count=["<b><i>number</i></b>"]</p>